.tekspertama{
    color: red;
    font-weight: bold;
}
#layout{
    background-color: rgb(red, green, blue);
    color: rgb(red, green, blue);
}

#container{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

header{
    height: 150px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.H, .S, .A, .F{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: auto;
}

.M{
    text-align: left;
    margin-left: 100px;
}

#menu{
    width: 970px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}    

content{
    width: 960px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}    

sidebar{
    margin-right: 1350px;
    float: right;
    width: 270px;
    height: 700px;
    background-color: #ffff00;
}

artikel{
    margin-left: 1350px;
    float: left;
    width: 670px;
    height: 700px;
    background-color: #00ffff;
    background-image: url(/assets/Gambar/Family.jpg);
    background-image: size(670px, 700px);
    background-attachment: scroll;
    -moz-background-origin: padding-box !important;
}

footer{
    width: 970px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
    background-image: url(/assets/Gambar/Lookatus.jpg);
    background-image: size(250px, 500px);
    background-position-y: 50%;
    backface-visibility: visible;
    background-color: antiquewhite ;
}

.author{
    text-align: left;
    color: red;
    font-weight: thin;
}

.gambar{
    width: 250px;
    height: 300px;
    margin-left: 10px;
    align: center;
}

.status{
    text-align: center;
    color: #008000;
    font-weight: thin;
    font-size: 20px;
}

.H1{
    text-align: center;
    color: #00ffff;
    font-weight: bold;
    font-size: 40px;
}

.judul{
    float: center !important;
    color: #000000;
    font-weight: bold;
}

.isi{
    font-size: medium;
    text-align: justify center;
    color: #000000;
    font-weight: thin;
}

.choice{
    display: block;
    text-decoration: none !important;
    color: rgb(113, 231, 23);
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.5s;
}

.C{
    color: #00ffff !important;
    font-weight: bold;
    font-size: 21px;
    margin-left: 200px;
    text-transform: none;
    text-size-adjust: inherit;
}

.sorry{
    margin-top: 5px;
    color: rgb(109, 243, 26);
    font-weight: bold;
    font-size: 15px;
    align-content: center;
    text-align:center;
}

.P1, .P2{
    color: red;
    font-size: 20px
}

.I{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
    float: justify;
    padding: 30px;
    color: #0000ff;
    text-align: justify;
}

#T{
    border: thin solid;
    float: right;
    margin-right: 80px;
    margin-top: 100px;
    size: 500px;
    padding: 50px
}

#myVideo{
    size: auto;
}

#backgroundtop{
    background-image: url(/assets/Gambar/together.jpg);
    backface-visibility: visible;
    background-position-x: 50%;
    background-position: size(100% - 10px);
    background-repeat: no-repeat;
}

.Penjelasan{
    font-style: normal;
    font-display: Verdana;
    font-size: 30px;
    margin: auto;
    padding: 50px;
}

.Begitulah{
    text-align: left;
    font-size: 36px;
    color:rgb(66, 8, 255)
}

#sights1, #sights2, #sights3, #sights4, #sights5, #sights6{
    width: 230px;
    height: 210px;
}

#sumber{
    text-align: left;
    color:#dc143d;
    text-transform: none;
    text-rendering: optimizeSpeed;
}

.pilih{
    type: circle;
}

.link{
    text-align:center;
}

.instagram{
    width: 25px;
    image-resolution: autoplay;
    image-orientation: from-image;
    image-rendering: pixelated;
    align-items: center;
}

.twitter{
    width: 25px;
    height: 25px;
    align-content: center;
}

.whatsapp{
    width: 25px;
    height: 25px;
    border-image-outset: 1px;
    image-resolution: autoplay;
    shape-image-threshold: 1px;
}

h4{
    color: #dc143c;
    text-decoration: none;
    text-shadow: springgreen;
    text-rendering: optimizeLegibility;
    text-decoration-line: inherit;
}

#sender{
    width: 80%;
}

#email{
    for: email;
}

@media (max-width: 768px) {
 #container, #menu, #header, #footer, #sidebar, #artikel {
    width: auto;
    height: auto;
 }
    
}
